In [4]:
import numpy as np
import pandas as pd

In [6]:
data=pd.read_csv("C:/Users/kirut/OneDrive/Documents/Python/notes/student_dataset.csv")
data

,name,student_id,english,tamil,maths,science,social,total,grade
0,Arun Varma,S001,65.0,85.0,53.0,48.0,NaN,333,D
1,Gokul Das,S002,80.0,NaN,89.0,68.0,51.0,357,C
2,Arun Yadav,S003,76.0,71.0,NaN,93.0,57.0,369,C
3,Arun Varma,S004,58.0,56.0,62.0,NaN,71.0,304,D
4,Eshan Singh,S005,NaN,74.0,73.0,56.0,81.0,370,C
...,...,...,...,...,...,...,...,...,...
95,Fatima Rao,S096,65.0,66.0,64.0,75.0,NaN,323,D
96,Divya Das,S097,90.0,56.0,45.0,NaN,69.0,306,D
97,Irfan Rani,S098,66.0,81.0,NaN,73.0,86.0,400,B
98,Bala Das,S099,41.0,NaN,74.0,40.0,82.0,295,F
99,Divya Kumar,S100,NaN,61.0,92.0,46.0,46.0,297,F

In [8]:
data.head()

          name student_id  english  tamil  maths  science  social  total grade
0   Arun Varma       S001     65.0   85.0   53.0     48.0     NaN    333     D
1    Gokul Das       S002     80.0    NaN   89.0     68.0    51.0    357     C
2   Arun Yadav       S003     76.0   71.0    NaN     93.0    57.0    369     C
3   Arun Varma       S004     58.0   56.0   62.0      NaN    71.0    304     D
4  Eshan Singh       S005      NaN   74.0   73.0     56.0    81.0    370     C

In [10]:
data.tail()

,name,student_id,english,tamil,maths,science,social,total,grade
95,Fatima Rao,S096,65.0,66.0,64.0,75.0,NaN,323,D
96,Divya Das,S097,90.0,56.0,45.0,NaN,69.0,306,D
97,Irfan Rani,S098,66.0,81.0,NaN,73.0,86.0,400,B
98,Bala Das,S099,41.0,NaN,74.0,40.0,82.0,295,F
99,Divya Kumar,S100,NaN,61.0,92.0,46.0,46.0,297,F

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        100 non-null    object
 1   student_id  100 non-null    object
 2   english     98 non-null     float64
 3   tamil       98 non-null     float64
 4   maths       98 non-null     float64
 5   science     98 non-null     float64
 6   social      98 non-null     float64
 7   total       100 non-null    int64
 8   grade       100 non-null    object
dtypes: float64(5), int64(1), object(3)
memory usage: 7.2+ KB

In [14]:
data.describe()

          english       tamil       maths     science      social       total
count   98.000000   98.000000   98.000000   98.000000   98.000000  100.000000
mean    72.295918   74.734694   71.183673   68.112245   69.367347  355.270000
std     17.901914   16.071715   17.174272   15.879626   17.902593   40.496877
min     40.000000   42.000000   41.000000   40.000000   40.000000  242.000000
25%     58.000000   62.250000   58.250000   55.000000   54.000000  327.500000
50%     72.000000   76.500000   69.000000   68.000000   69.000000  353.000000
75%     86.500000   89.000000   88.000000   79.750000   84.000000  383.750000
max    100.000000  100.000000  100.000000  100.000000  100.000000  440.000000

In [16]:
empty_cells=data.isnull()
print(empty_cells)

     name  student_id  english  tamil  maths  science  social  total  grade
0   False       False    False  False  False    False    True  False  False
1   False       False    False   True  False    False   False  False  False
2   False       False    False  False   True    False   False  False  False
3   False       False    False  False  False     True   False  False  False
4   False       False     True  False  False    False   False  False  False
..    ...         ...      ...    ...    ...      ...     ...    ...    ...
95  False       False    False  False  False    False    True  False  False
96  False       False    False  False  False     True   False  False  False
97  False       False    False  False   True    False   False  False  False
98  False       False    False   True  False    False   False  False  False
99  False       False     True  False  False    False   False  False  False

[100 rows x 9 columns]

In [18]:
empty_cells=data.isnull().sum()
print(empty_cells)

name          0
student_id    0
english       2
tamil         2
maths         2
science       2
social        2
total         0
grade         0
dtype: int64

In [20]:
x1=data["english"].mean()
x1

72.29591836734694

In [22]:
x2=data["tamil"].mean()
x2

74.73469387755102

In [24]:
x3=data["maths"].mean()
x3

71.18367346938776

In [26]:
x4=data["science"].mean()
x4

68.11224489795919

In [28]:
x5=data["social"].mean()
x5

69.36734693877551

In [30]:
x6=data["total"].mean()
x6

355.27

In [32]:
data["english"].fillna(x1, inplace = True)

C:\Users\kirut\AppData\Local\Temp\ipykernel_30356\3218206684.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["english"].fillna(x1, inplace = True)

In [34]:
data["tamil"].fillna(x2, inplace = True)

C:\Users\kirut\AppData\Local\Temp\ipykernel_30356\3244279407.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["tamil"].fillna(x2, inplace = True)

In [36]:
data["maths"].fillna(x3, inplace = True)

C:\Users\kirut\AppData\Local\Temp\ipykernel_30356\3283904964.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["maths"].fillna(x3, inplace = True)

In [38]:
data["science"].fillna(x4, inplace = True)

C:\Users\kirut\AppData\Local\Temp\ipykernel_30356\2804749315.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["science"].fillna(x4, inplace = True)

In [40]:
data["social"].fillna(x5, inplace = True)

C:\Users\kirut\AppData\Local\Temp\ipykernel_30356\2407113463.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["social"].fillna(x5, inplace = True)

In [42]:
data["total"].fillna(x6, inplace = True)

C:\Users\kirut\AppData\Local\Temp\ipykernel_30356\777065071.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["total"].fillna(x6, inplace = True)

In [44]:
empty_cells=data.isnull().sum()
print(empty_cells)

name          0
student_id    0
english       0
tamil         0
maths         0
science       0
social        0
total         0
grade         0
dtype: int64

In [46]:
data

,name,student_id,english,tamil,maths,science,social,total,grade
0,Arun Varma,S001,65.000000,85.000000,53.000000,48.000000,69.367347,333,D
1,Gokul Das,S002,80.000000,74.734694,89.000000,68.000000,51.000000,357,C
2,Arun Yadav,S003,76.000000,71.000000,71.183673,93.000000,57.000000,369,C
3,Arun Varma,S004,58.000000,56.000000,62.000000,68.112245,71.000000,304,D
4,Eshan Singh,S005,72.295918,74.000000,73.000000,56.000000,81.000000,370,C
...,...,...,...,...,...,...,...,...,...
95,Fatima Rao,S096,65.000000,66.000000,64.000000,75.000000,69.367347,323,D
96,Divya Das,S097,90.000000,56.000000,45.000000,68.112245,69.000000,306,D
97,Irfan Rani,S098,66.000000,81.000000,71.183673,73.000000,86.000000,400,B
98,Bala Das,S099,41.000000,74.734694,74.000000,40.000000,82.000000,295,F
99,Divya Kumar,S100,72.295918,61.000000,92.000000,46.000000,46.000000,297,F

In [48]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

data["grade"]=label_encoder.fit_transform(data["grade"])
data

,name,student_id,english,tamil,maths,science,social,total,grade
0,Arun Varma,S001,65.000000,85.000000,53.000000,48.000000,69.367347,333,2
1,Gokul Das,S002,80.000000,74.734694,89.000000,68.000000,51.000000,357,1
2,Arun Yadav,S003,76.000000,71.000000,71.183673,93.000000,57.000000,369,1
3,Arun Varma,S004,58.000000,56.000000,62.000000,68.112245,71.000000,304,2
4,Eshan Singh,S005,72.295918,74.000000,73.000000,56.000000,81.000000,370,1
...,...,...,...,...,...,...,...,...,...
95,Fatima Rao,S096,65.000000,66.000000,64.000000,75.000000,69.367347,323,2
96,Divya Das,S097,90.000000,56.000000,45.000000,68.112245,69.000000,306,2
97,Irfan Rani,S098,66.000000,81.000000,71.183673,73.000000,86.000000,400,0
98,Bala Das,S099,41.000000,74.734694,74.000000,40.000000,82.000000,295,3
99,Divya Kumar,S100,72.295918,61.000000,92.000000,46.000000,46.000000,297,3

In [50]:
x7=data["grade"].mode()
x7

0    2
Name: grade, dtype: int32

In [52]:
data

,name,student_id,english,tamil,maths,science,social,total,grade
0,Arun Varma,S001,65.000000,85.000000,53.000000,48.000000,69.367347,333,2
1,Gokul Das,S002,80.000000,74.734694,89.000000,68.000000,51.000000,357,1
2,Arun Yadav,S003,76.000000,71.000000,71.183673,93.000000,57.000000,369,1
3,Arun Varma,S004,58.000000,56.000000,62.000000,68.112245,71.000000,304,2
4,Eshan Singh,S005,72.295918,74.000000,73.000000,56.000000,81.000000,370,1
...,...,...,...,...,...,...,...,...,...
95,Fatima Rao,S096,65.000000,66.000000,64.000000,75.000000,69.367347,323,2
96,Divya Das,S097,90.000000,56.000000,45.000000,68.112245,69.000000,306,2
97,Irfan Rani,S098,66.000000,81.000000,71.183673,73.000000,86.000000,400,0
98,Bala Das,S099,41.000000,74.734694,74.000000,40.000000,82.000000,295,3
99,Divya Kumar,S100,72.295918,61.000000,92.000000,46.000000,46.000000,297,3

In [54]:
X=data.drop(['name',"student_id","total"],axis=1)
Y=data["total"]

In [56]:
X

      english      tamil      maths    science     social  grade
0   65.000000  85.000000  53.000000  48.000000  69.367347      2
1   80.000000  74.734694  89.000000  68.000000  51.000000      1
2   76.000000  71.000000  71.183673  93.000000  57.000000      1
3   58.000000  56.000000  62.000000  68.112245  71.000000      2
4   72.295918  74.000000  73.000000  56.000000  81.000000      1
..        ...        ...        ...        ...        ...    ...
95  65.000000  66.000000  64.000000  75.000000  69.367347      2
96  90.000000  56.000000  45.000000  68.112245  69.000000      2
97  66.000000  81.000000  71.183673  73.000000  86.000000      0
98  41.000000  74.734694  74.000000  40.000000  82.000000      3
99  72.295918  61.000000  92.000000  46.000000  46.000000      3

[100 rows x 6 columns]

In [58]:
Y

0     333
1     357
2     369
3     304
4     370
     ...
95    323
96    306
97    400
98    295
99    297
Name: total, Length: 100, dtype: int64

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [62]:
X_train.head()

    english  tamil  maths  science  social  grade
55     87.0   84.0   88.0     84.0    89.0      0
88     90.0   52.0   68.0     65.0    48.0      2
26     78.0   62.0   62.0     99.0    66.0      1
42     59.0   43.0   98.0     91.0    44.0      2
69     89.0   83.0   60.0     62.0   100.0      1

In [64]:
Y_train.head()

55    432
88    323
26    367
42    335
69    394
Name: total, dtype: int64

In [66]:
X_test

       english  tamil  maths  science     social  grade
83   50.000000   56.0   71.0     66.0  45.000000      3
53   64.000000   89.0   74.0     77.0  68.000000      1
70   68.000000   88.0   88.0     55.0  84.000000      1
45   53.000000   54.0   89.0     49.0  54.000000      3
44   85.000000   71.0   78.0     52.0  52.000000      2
39   45.000000   90.0   62.0     52.0  55.000000      2
22   85.000000   59.0   60.0     85.0  54.000000      2
80   45.000000   90.0   93.0     81.0  99.000000      0
10   95.000000   89.0   57.0     64.0  70.000000      1
0    65.000000   85.0   53.0     48.0  69.367347      2
18   77.000000   76.0   95.0     79.0  77.000000      0
30   81.000000   90.0   61.0     96.0  99.000000      0
73  100.000000  100.0   71.0     43.0  77.000000      1
33   44.000000   83.0   68.0     71.0  62.000000      2
90   96.000000   99.0   75.0     50.0  73.000000      1
4    72.295918   74.0   73.0     56.0  81.000000      1
76  100.000000   89.0   81.0     55.0  54.000000      1
77   84.000000   96.0   93.0     58.0  62.000000      1
12   84.000000   67.0   53.0     71.0  73.000000      2
31   92.000000   97.0   99.0     52.0  48.000000      1

In [68]:
Y_test

83    288
53    372
70    383
45    299
44    338
39    304
22    343
80    408
10    375
0     333
18    404
30    427
73    391
33    328
90    393
4     370
76    379
77    393
12    348
31    388
Name: total, dtype: int64

In [70]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [72]:
y_pred = model.predict(X_test)
y_pred

array([283.87279011, 373.33219622, 383.11039888, 293.74637253,
       334.67059777, 305.94195543, 338.78809488, 413.80343697,
       374.54093118, 319.53752424, 408.89444723, 428.88505099,
       388.8602702 , 327.36970819, 390.85278745, 358.830462  ,
       378.23839701, 391.55683684, 343.2305799 , 386.89122024])

In [74]:
import joblib

joblib.dump(model, 'today.pkl')

['today.pkl']

In [76]:
import joblib

# Load the model from the file
loaded_model = joblib.load('today.pkl')

# Make predictions with the loaded model
y_pred = loaded_model.predict([[64.000000,89.0,74.0,77.0,68.000000,1]])
print(y_pred)

[373.33219622]

C:\Users\kirut\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [78]:
k=[63,90,38,78,56,2]
largest= sorted(k, reverse=True)[:3]
largest

[90, 78, 63]

In [88]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, Y_train)

C:\Users\kirut\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [90]:
y_pred = model.predict(X_test)
y_pred

array([338, 342, 312, 324, 394, 390, 393, 386, 394, 418, 346, 393, 394,
       341, 394, 416, 394, 339, 393, 339], dtype=int64)

In [94]:
Y_test

83    288
53    372
70    383
45    299
44    338
39    304
22    343
80    408
10    375
0     333
18    404
30    427
73    391
33    328
90    393
4     370
76    379
77    393
12    348
31    388
Name: total, dtype: int64

In [96]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(Y_test, y_pred) 
accuracy

0.0